/* .slider_wrapper {
    height: 60vh;
} */

.container {
    max-width: 1000px;
}

.image_view {
    width: 80%;
    /* background-color: red; */
    position: relative;
}

.image_view > img {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}

.place_info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    z-index: 10;
}

.place_info > * {
    text-shadow: 2px 2px 30px white;
}

img {
    max-width: 100%;
    display: block;
}

.slider {
    width: 20%; 
    position: relative;
}

.slider > img {
    height: calc(100% / 5);
    object-fit: cover;
}

/* .navigation {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
} */

.btn_arrow {
    position: absolute;

    height: 22px;
    width: 22px;
    /* padding: 0.5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid rgb(54, 52, 52);
    z-index: 10;
}

.btn_arrow.arrow_up {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.btn_arrow.arrow_down {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


